<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Data Vis Delta Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="css/ui.css" rel="stylesheet">
		<link href="css/vis.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	</head>
	<body ng-app="vis">
		<div id="title" class="row">
			<h1 id="title-text">Exploring Flood Factors<br/>in the Mekong and Ganges River Deltas</h1>
			<p id="title-img-credit">Urban flooding, Ganges Delta, 2007 <a href="#img-credit-section"><sup>[1]</sup></a></p>
		</div>
		<hr class="section-divider">
		<div class="container">
			<div class="row section">
				<div class="col-sm-6">
					<h2 class="section-heading">Distresssing Situation</h2>
					<p class="section-text">Millions of people living in the river delta regions of South Asia are devastated by massive amounts of flooding every year! Homes and infrastructure are damaged or even washed away, fields are destroyed by rushes of ocean water, and worst of all, lives are lost.</p>
				</div>
				<div class="col-sm-6">
					<img class="section-image" src="images/flooded_slum-vietnam.jpg">
					<p>Rural flooding, Mekong Delta, 2011 <a href="#img-credit-section"><sup>[2]</sup></a></p>
				</div>
			</div>
			<hr class="section-divider">
			<div class="row section">
				<div class="col-sm-8">
					<img class="section-image" src="images/delta-Map.png">
					<p>Geopolitical map, South Asia <a href="#img-credit-section"><sup>[3]</sup></a></p>
				</div>
				<div class="col-sm-4">
					<h2 class="section-heading">Overview of Regions</h2>
				</div>
			</div>
			<hr class="section-divider">
			<div class="row section">
				<div class="col-sm-8">
					<h2 class="section-heading">Mekong Delta</h2>
					<p class="section-text">The Mekong delta, located in southern Vietnam, is home to over 17 million people. Vietnam is the 4th largest producer of rice in the world, while the US is ranked 12th. The delta region is responsible for over 50% of rice production for the entire country.</p>
				</div>
				<div class="col-sm-4">
					<img class="section-image" src="images/mekong_delta-sat.jpg">
					<p>Satilite image, Mekong Delta, 1996 <a href="#img-credit-section"><sup>[4]</sup></a></p>
				</div>
			</div>
			<hr class="section-divider">
			<div class="row section">
				<div class="col-sm-4">
					<img class="section-image" src="images/ganges_delta-sat.jpg">
					<p>Satilite image, Ganges Delta, undated <a href="#img-credit-section"><sup>[5]</sup></a></p>
				</div>
				<div class="col-sm-8">
					<h2 class="section-heading">Ganges Delta</h2>
					<p class="section-text">The Ganges delta, located in eastern India and nearly all of Bangladesh, is the both the largest and the most densely populated river delta in the world. Between 125-143 million people there.</p>
				</div>
			</div>
			<hr class="section-divider">
			<div class="row section">
				<h2 class="section-heading">Seasonal Effects</h2>
				<ul class="section-text">
					<li>Wet season - June to November</li>
					<li>Dry season - December to May</li>
					<li>These seasons are drastically different. Dry seasons involve droughts and river navigation issues, resulting in disrupted agriculture and industry. During the wet season the delta is faced with major flooding and rainfall.</li>

				</ul>
				<div>
					<!-- ANGULAR SNIPPET - BEGIN -->
					<div ng-controller="seasonal-tabs as tab">
						<ul class="nav nav-tabs">
							<li ng-class="{active: tab.isSet('inundation')}"><a ng-click="tab.set('inundation')">Inundation</a></li>
							<li ng-class="{active: tab.isSet('precipitation')}"><a ng-click="tab.set('precipitation')">Precipitation</a></li>
						</ul>
						<div ng-controller="seasonal-toggles as toggle">
							<ul class="nav nav-pills">
								<li ng-click="toggle.set('ganges')" ng-class="{active: toggle.isSet('ganges')}"><a href>Ganges</a></li>
								<li ng-click="toggle.set('mekong')" ng-class="{active: toggle.isSet('mekong')}"><a href>Mekong</a></li>
							</ul>
							<div ng-show="toggle.isSet('ganges')">
								<div ng-show="tab.isSet('inundation')">
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Wet Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Ganges-inundation-06.png" />
											<img src="images/seasonal_images/Ganges-inundation-07.png" />
											<img src="images/seasonal_images/Ganges-inundation-08.png" />
											<img src="images/seasonal_images/Ganges-inundation-09.png" />
											<img src="images/seasonal_images/Ganges-inundation-10.png" />
											<img src="images/seasonal_images/Ganges-inundation-11.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Dry Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Ganges-inundation-12.png" />
											<img src="images/seasonal_images/Ganges-inundation-01.png" />
											<img src="images/seasonal_images/Ganges-inundation-02.png" />
											<img src="images/seasonal_images/Ganges-inundation-03.png" />
											<img src="images/seasonal_images/Ganges-inundation-04.png" />
											<img src="images/seasonal_images/Ganges-inundation-05.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
								</div>
								<div ng-show="tab.isSet('precipitation')">
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Wet Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Ganges-precip-06.png" />
											<img src="images/seasonal_images/Ganges-precip-07.png" />
											<img src="images/seasonal_images/Ganges-precip-08.png" />
											<img src="images/seasonal_images/Ganges-precip-09.png" />
											<img src="images/seasonal_images/Ganges-precip-10.png" />
											<img src="images/seasonal_images/Ganges-precip-11.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Dry Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Ganges-precip-12.png" />
											<img src="images/seasonal_images/Ganges-precip-01.png" />
											<img src="images/seasonal_images/Ganges-precip-02.png" />
											<img src="images/seasonal_images/Ganges-precip-03.png" />
											<img src="images/seasonal_images/Ganges-precip-04.png" />
											<img src="images/seasonal_images/Ganges-precip-05.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
								</div>
							</div>
							<div ng-show="toggle.isSet('mekong')">
								<div ng-show="tab.isSet('inundation')">
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Wet Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Mekong-inundation-06.png" />
											<img src="images/seasonal_images/Mekong-inundation-07.png" />
											<img src="images/seasonal_images/Mekong-inundation-08.png" />
											<img src="images/seasonal_images/Mekong-inundation-09.png" />
											<img src="images/seasonal_images/Mekong-inundation-10.png" />
											<img src="images/seasonal_images/Mekong-inundation-11.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Dry Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Mekong-inundation-12.png" />
											<img src="images/seasonal_images/Mekong-inundation-01.png" />
											<img src="images/seasonal_images/Mekong-inundation-02.png" />
											<img src="images/seasonal_images/Mekong-inundation-03.png" />
											<img src="images/seasonal_images/Mekong-inundation-04.png" />
											<img src="images/seasonal_images/Mekong-inundation-05.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
								</div>
								<div ng-show="tab.isSet('precipitation')">
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Wet Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Mekong-precip-06.png" />
											<img src="images/seasonal_images/Mekong-precip-07.png" />
											<img src="images/seasonal_images/Mekong-precip-08.png" />
											<img src="images/seasonal_images/Mekong-precip-09.png" />
											<img src="images/seasonal_images/Mekong-precip-10.png" />
											<img src="images/seasonal_images/Mekong-precip-11.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
									<div class="col-sm-6">
										<h3 class="seasonal-heading">Dry Season</h3>
										<div class="seasonal-images">
											<img src="images/seasonal_images/Mekong-precip-12.png" />
											<img src="images/seasonal_images/Mekong-precip-01.png" />
											<img src="images/seasonal_images/Mekong-precip-02.png" />
											<img src="images/seasonal_images/Mekong-precip-03.png" />
											<img src="images/seasonal_images/Mekong-precip-04.png" />
											<img src="images/seasonal_images/Mekong-precip-05.png" />
										</div>
										<input id="slider" class="seasonal-slider" type="range" min=0 max=5 value=0 />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ANGULAR SNIPPET - END -->
				</div>
			</div>
			<hr class="section-divider">
			<div class="row section">
				<h2 class="section-heading">Flood Factors</h2>
				<p class="section-text">Several factors contribute to the flooding in these deltas including <strong>precipitation</strong>, <strong>inundation</strong>, <strong>discharge</strong> and <strong>waves</strong>. Click on a year to observe how the selected factor behaved during that year. The plotted circles represent reported incidents. Place your cursor over the circles for incident info.</p>
				<!-- ANGULAR SNIPPET - BEGIN -->
				<div ng-controller="factor-tabs as tab">
					<ul class="nav nav-tabs">
						<li ng-class="{active: tab.isSet('discharge')}"><a ng-click="tab.set('discharge')">Discharge</a></li>
						<li ng-class="{active: tab.isSet('inundation')}"><a ng-click="tab.set('inundation')">Inundation</a></li>
						<li ng-class="{active: tab.isSet('precipitation')}"><a ng-click="tab.set('precipitation')">Precipitation</a></li>
						<li ng-class="{active: tab.isSet('waves')}"><a ng-click="tab.set('waves')">Waves</a></li>
					</ul>
					<div ng-controller="delta-toggles as toggle">
						<ul class="nav nav-pills">
							<li ng-click="toggle.set('ganges')" ng-class="{active: toggle.isSet('ganges')}"><a href>Ganges</a></li>
							<li ng-click="toggle.set('mekong')" ng-class="{active: toggle.isSet('mekong')}"><a href>Mekong</a></li>
						</ul>
						<div class="factors" ng-show="toggle.isSet('ganges')">
							<div id="ganges-discharge" ng-show="tab.isSet('discharge')"></div>
							<div id="ganges-inundation" ng-show="tab.isSet('inundation')"></div>
							<div id="ganges-precipation" ng-show="tab.isSet('precipitation')"></div>
							<div id="ganges-waves" ng-show="tab.isSet('waves')"></div>
						</div>
						<div class="factors" ng-show="toggle.isSet('mekong')">
							<div id="mekong-discharge" ng-show="tab.isSet('discharge')"></div>
							<div id="mekong-inundation" ng-show="tab.isSet('inundation')"></div>
							<div id="mekong-precipation" ng-show="tab.isSet('precipitation')"></div>
							<div id="mekong-waves" ng-show="tab.isSet('waves')"></div>
						</div>
						<div class="sidebar-container">
							<div id="discharge-sidebar" ng-show="tab.isSet('discharge')" class="sidebar">
								<div class="caption">
									<h3>Discharge</h3>
									<p>The amount of water entering the river delta measured in m^3/s</p>
								</div>
								<img src="images/discharge.jpg">
								<p>Gushing dam, courtesy of TravelPod <a href="#img-credit-section"><sup>[6]</sup></a></p>
							</div>
							<div id="inundation-sidebar" ng-show="tab.isSet('inundation')" class="sidebar">
								<div class="caption">
									<h3>Inundation</h3>
									<p>Flooding measured in percent of area flooded</p>
								</div>
								<img src="images/inundation.jpg">
								<p>Urban flooding, Ganges Delta, 1988 <a href="#img-credit-section"><sup>[7]</sup></a></p>
							</div>
							<div id="precipitation-sidebar" ng-show="tab.isSet('precipitation')" class="sidebar">
								<div class="caption">
									<h3>Precipitation</h3>
									<p>Rainfall measured in mm</p>
								</div>
								<img src="images/precip.jpg">
								<p>Rainfall, courtesy of WallpaperUp <a href="#img-credit-section"><sup>[8]</sup></a></p>
							</div>
							<div id="waves-sidebar" ng-show="tab.isSet('waves')" class="sidebar">
								<div class="caption">
									<h3>Waves</h3>
									<p>Waves hitting the coast measured in kW/m</p>
								</div>
								<img src="images/waves.jpg">
								<p>Ocean waves, courtesy of Flickr <a href="#img-credit-section"><sup>[9]</sup></a></p>
							</div>
						</div>
					</div>
				</div>
				<!--ANGULAR SNIPPET - END -->
			</div>
			<hr class="section-divider">
			<div class="row section">
				<div class="col-md-4">
					<img class="section-image" src="images/zachery_tessler.png">
					<p>Zachary Tessler, mentor for this project <a href="#img-credit-section"><sup>[10]</sup></a></p>
				</div>
				<div class="col-md-8">
					<h2 class="section-heading">About This Website</h2>
					<p class="section-text">This website was designed by three undergraduate students at the <a href = "http://www.ccny.cuny.edu/">City College of New York</a> as part of a course in the Fall 2014 semester. The name of the course was Data Visualization, and it was taught by <a href = "http://www.ccny.cuny.edu/profiles/Michael-Grossberg.cfm"> Professor Michael Grossberg</a> of the Computer Science department.</p>
					
					<p class="section-text">The foundation of this website is the flood data that was used in the 'Seasonal Effects' and 'Flood Factors' page sections. This data was provided by <a href = "http://zacharytessler.com/">Zachary Tessler</a>, a post graduate researcher at the <a href="http://rose.ccny.cuny.edu/~darlene/CrossRoads/">CUNY Environmental CrossRoads Initiative</a>. Zachary focuses on environmental change in river deltas and implications for natural and human systems in the coastal zone. The website designers were very fortunate to have Zachary as their domain expert and mentor for this project.
</p>
				</div>
			</div>
			<hr class="section-divider">
			<div id="img-credit-section" class="row">
				<h2 class="section-heading">Image Credits</h2>
				<div class="section-text">
					<ol id="img-credit-list">
						<li>Urban flooding, Ganges Delta, 2007 - <a href="https://www.flickr.com/photos/ruchiro/1194152368/in/set-72157601590533552">Flickr.com</a></li>
						<li>Rural flooding, Mekong Delta, 2011 - <a href="https://www.flickr.com/photos/jasonkoebler/6301249955/in/photolist-awBGXW-nHW7nS-aAPy5B-9bVpjA-5HKTcY-5LEy9j-5KRV8B-aNNdwD-oqBpTa-at49rS-71epbd-gzLzPw-gzPn3c-gzPcF9-5dAWhs-aCVaSk-5d6MFm-gzLtig-gz1K2i-5d6M9m">Flickr.com</a></li>
						<li>Geopolitical map, South Asia - <a href="http://www.nationsonline.org/maps/south_east_asia_map.jpg">Nationsonline.org</a></li>
						<li>Satilite image, Mekong Delta, 1996 - <a href="http://upload.wikimedia.org/wikipedia/commons/0/03/Mekong_delta.jpg">Wikipedia.org</a></li>
						<li>Satilite image, Ganges Delta, undated - <a href="https://upload.wikimedia.org/wikipedia/commons/3/39/Gangesdelta_klein.jpg">Wikipedia.org</a></li>
						<li>Gushing dam - <a href="http://images.travelpod.com/tw_slides/ta01/012/e86/gushing-water-at-the-ord-river-dam-lake-argyle-kununurra.jpg">Travelpod.com</a></li>
						<li>Urban flooding, Ganges Delta, 1988 - <a href="http://www.ebanglapedia.com/Images/FloodDhaka.jpg">eBanglapedia.com</a></li>
						<li>Rainfall - <a href="http://www.wallpaperup.com/uploads/wallpapers/2014/01/06/216707/abd00579533df4fd77afd5c2ece1cc61.jpg">Wallpaperup.com</a></li>
						<li>Ocean waves - <a href="http://farm8.staticflickr.com/7029/6659258021_daf40dc703.jpg">Flickr.com</a></li>
						<li>Zachary Tessler, mentor for this project - <a href="http://zacharytessler.com/images/beach.png">ZacharyTessler.com</li>
					</ol>
				</div>
			</div>
			<hr class="section-divider">
			<footer>
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>Copyright &copy; 2014 Andrew Fitzgerald, Ian S. McBride, and Ebenezer Reyes</p>
			</footer>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http:///maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="http:///cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
		<script src="js/vis.js"></script>
	</body>
</html>
