/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* Featurettes
------------------------- */
.section-divider {
  margin: 40px 0;
}

.section-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.section-image {
	width: 100%;
}

.section-text {
	font-size: 21px;
}

#title {
	margin: 0;
	height: 100vh;
	background-image: url("../images/flood_kolkata_2007-flikr-3.jpg");
	background-position: center;
}

#title-text {
	margin-top: 20%;
	color: white;
	background-color: rgba(153, 153, 153, 0.6);
	font-size: 60px;
	font-weight: 300;
	text-align: center;
}

#title-img-credit {
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}

.seasonal-images img {
   display: none;
   width: 100%;
}

.seasonal-heading {
	text-align: center;
}

.factors {
	float: left;
}
.sidebar {
	float: left;
	width: 300px;
}
.sidebar img {
	width: 225px;
	height: 225px;
}

#img-credit-list {
	font-size: 14px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .section-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .section-heading {
  }
}

