/* --------from d3 example-------- */
svg {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path,
.y.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

/* ----------our styling---------- */
.stat-avg path {
	stroke-width: 2px;
}
.legend-patch,
.legend-text {
	cursor: pointer;
}
.legend-text {
	font-size: 15px;
	transform: translate(-5px, 15px) rotate(60deg);
	transform-origin: left top 0;
}
.stat-area {
	fill: lightblue;
	opacity : 0.2;
}
